src/conf/xml-resources/web-service-references/ServicoClienteService/wsdl/localhost_8080/ServicoClienteCorreio/ServicoClienteService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicos.ifsul.edu.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicos.ifsul.edu.br/" name="ServicoClienteService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicos.ifsul.edu.br/" schemaLocation="http://localhost:8080/ServicoClienteCorreio/ServicoClienteService?xsd=1"/>
</xsd:schema>
</types>
<message name="alterar">
<part name="parameters" element="tns:alterar"/>
</message>
<message name="alterarResponse">
<part name="parameters" element="tns:alterarResponse"/>
</message>
<message name="listaPessoas">
<part name="parameters" element="tns:listaPessoas"/>
</message>
<message name="listaPessoasResponse">
<part name="parameters" element="tns:listaPessoasResponse"/>
</message>
<message name="inserir">
<part name="parameters" element="tns:inserir"/>
</message>
<message name="inserirResponse">
<part name="parameters" element="tns:inserirResponse"/>
</message>
<message name="remover">
<part name="parameters" element="tns:remover"/>
</message>
<message name="removerResponse">
<part name="parameters" element="tns:removerResponse"/>
</message>
<portType name="ServicoCliente">
<operation name="alterar">
<input wsam:Action="http://servicos.ifsul.edu.br/ServicoCliente/alterarRequest" message="tns:alterar"/>
<output wsam:Action="http://servicos.ifsul.edu.br/ServicoCliente/alterarResponse" message="tns:alterarResponse"/>
</operation>
<operation name="listaPessoas">
<input wsam:Action="http://servicos.ifsul.edu.br/ServicoCliente/listaPessoasRequest" message="tns:listaPessoas"/>
<output wsam:Action="http://servicos.ifsul.edu.br/ServicoCliente/listaPessoasResponse" message="tns:listaPessoasResponse"/>
</operation>
<operation name="inserir">
<input wsam:Action="http://servicos.ifsul.edu.br/ServicoCliente/inserirRequest" message="tns:inserir"/>
<output wsam:Action="http://servicos.ifsul.edu.br/ServicoCliente/inserirResponse" message="tns:inserirResponse"/>
</operation>
<operation name="remover">
<input wsam:Action="http://servicos.ifsul.edu.br/ServicoCliente/removerRequest" message="tns:remover"/>
<output wsam:Action="http://servicos.ifsul.edu.br/ServicoCliente/removerResponse" message="tns:removerResponse"/>
</operation>
</portType>
<binding name="ServicoClientePortBinding" type="tns:ServicoCliente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="alterar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaPessoas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remover">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicoClienteService">
<port name="ServicoClientePort" binding="tns:ServicoClientePortBinding">
<soap:address location="http://localhost:8080/ServicoClienteCorreio/ServicoClienteService"/>
</port>
</service>
</definitions>